.order-success-details {
  margin: 2rem;
}
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 80vh; */
  text-align: center;
  padding: 24px;
}

.icon {
  font-size: 5rem;
  color: #4caf50; 
  margin-bottom: 16px;
}

.title {
  margin-bottom: 16px;
}

.button {
  margin-top: 24px;
}

.order-success-details {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
