:root {
  --header-height: 115px;
}

.header {
  background-color: #131921;
  color: #fff;
  padding: 0;
  cursor: pointer;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  height: var(--header-height);
}

.header-component {
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  font-family: "Roboto";
}

.header-component a {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
}

.logo-img {
  height: 3rem;
  margin-left: 0.5rem;
}

.bar-logo {
  color: #fff;
  /* display: none; */
  font-size: 2.4rem;
}

.social {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.login-icon,
.cart-icon,
.bar-icon {
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 0.5rem;
  height: 3rem;
  line-height: 4rem;
  width: 3rem;
  text-align: center;
  border-radius: 50%;
  color: #ccc;
}

.login-icon:hover,
.cart-icon:hover,
.bar-icon:hover {
  transform: rotate(360deg);
  background-color: #ccc;
  color: black;
}

.hidden {
  display: none;
}

.links {
  display: flex;
  font-size: 1.2rem;
  color: black;
  gap: 1.7rem;
  padding: 0.2rem 0;
}

.link-details {
  border-radius: 0.5rem;
  width: 7rem;
  color: white;
}

.link-details:hover {
  background-color: rgba(245, 221, 221, 0.884);
  color: black;
}

.header-bottom {
  background: #232f3e;
  padding: 0.5rem;
}

.header-bottom-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0.1rem 4rem;
}

.filter-logo {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.sort-btn {
  display: flex;
  padding: 0.6rem 3rem;
  background: bottom;
  color: white;
  background-color: #333131;
  border-radius: 0.4rem;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  letter-spacing: 2px;
  border: 1px solid rgba(54, 51, 78, 0.3);
  box-shadow: 0 0 7px #223042;
  cursor: pointer;
}

.sort-btn:hover {
  background-color: rgba(245, 221, 221, 0.884);
  color: black;
}

.speedDial {
  position: fixed;
  right: 4vmax;
  top: 4.5vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}

.side-bar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease;
  z-index: 2;
}

.side-bar.open {
  right: 0;
}

.side-bar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.side-bar-links {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.side-bar-link {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  padding: 1rem 0;
  display: flex;
}

.close-icon {
  align-self: flex-end;
  font-size: 2rem;
  padding: 1rem;
  color: #000;
  cursor: pointer;
}

.close-icon:hover {
  color: tomato;
}

@media (max-width: 868px) {
  .header-component {
    padding: 0.5rem 1rem;
  }

  .links {
    display: none;
  }

  .header-bottom-box {
    justify-content: flex-start;
    padding: 0.1rem 1rem;
  }

  .sort-btn {
    padding: 0.6rem 2rem;
    font-size: 0.7rem;
  }

  .speedDial {
    right: 2vmax;
    top: 11vmax;
  }
  .speedDialIcon {
    width: 35px;
    height: 35px;
  }
}