footer {
  background: var(--eerie-black);
  padding: 30px 0;
}
.footer-container {
  padding: 0 20px;
}
.footer-nav {
  border-bottom: 1px solid var(--onyx);
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.footer-nav-list {
  list-style: none;
}
.footer-nav-list:not(:last-child) {
  margin-bottom: 20px;
}
.footer-nav .nav-title {
  position: relative;
  color: var(--white);
  font-size: var(--fs-7);
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.footer-nav .nav-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--salmon-pink);
  width: 60px;
  height: 1px;
}
.footer-nav-item {
  padding: 3px 0;
}
.footer-nav-link,
.footer-nav-item .content {
  width: max-content;
  color: var(--sonic-silver);
  text-decoration: none;
  font-size: var(--fs-7);
  text-transform: capitalize;
  transition: var(--transition-timing);
}
.footer-nav-link:hover {
  color: var(--salmon-pink);
}
.footer-nav-item.flex {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.footer-nav-item .content {
  font-style: normal;
  margin-bottom: 5px;
}
.footer-nav-item .icon-box {
  color: var(--sonic-silver);
  font-size: 25px;
}
.footer-nav-item .icon-box ion-icon {
  --ionicon-stroke-width: 30px;
}
.footer-nav .social-link {
  display: flex;
  padding-left: 0;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  list-style: none;
}
.social-link .footer-nav-link {
  font-size: 25px;
}
.footer-bottom {
  text-align: center;
  background: white;
  border-radius: .6rem;
  margin: 0 1rem;
}
.payment-img {
  max-width: 235px;
  width: 100%;
}
.copyright {
  padding-bottom: 1rem;
  color: #000;
  font-size: var(--fs-8);
  font-weight: var(--weight-500);
  text-transform: capitalize;
  letter-spacing: 1.2px;
}
.copyright a {
  display: inline;
  color: inherit;
}
@media (min-width: 480px) {
  .copyright {
    --fs-8: 0.875rem;
  }
}
@media (min-width: 768px) {
  .footer-nav .footer-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 20px;
  }
  .footer-nav-list {
    min-width: calc(33.33% - 15px);
    width: calc(33.33% - 15px);
    flex-grow: 1;
  }
  .footer-nav-list:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .footer-nav-list {
    min-width: calc(20% - 16px);
    width: calc(20% - 16px);
  }
  .footer-nav-list:last-child {
    display: none;
  }
  .footer-bottom {
    margin-bottom: 0;
  }
}
