.contactContainer {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: grid;
    place-items: center;
    background-color: #ccc;
    position: fixed;
  }

  .contact {
    padding: 100px 0;
  }
  .contact-heading {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 30px;
  }
  .container-box {
    border-radius: 10px;
    background: #fff;
    width: 90vw;
    margin: auto;
    padding: 2rem;
    max-width: max(60vw, 320px);
  }

  form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .form-info {
    padding-bottom: 0.5rem;
    width: 100%;
  }

  .contact-forms {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  label {
    color: #000;
    letter-spacing: .06rem;
    margin-bottom: .5rem;
}
  input {
    border-radius: 7px;
    box-shadow: 0 0 5px 0 rgba(109, 94, 94, 0.9);
    width: 100%;
    background: #ccc;
    padding: 0.7rem;
    border: 2px solid #000;
  }
  .input-width {
    width: 100%;
  }
  textarea {
    width: 100%;
    padding: 0.7rem;
    border-radius: 8px;
    border: 2px solid #000;
    color: #000;
  }

  @media screen and (min-width: 767px) {
    .form-info:nth-child(1),
    .form-info:nth-child(2) {
      width: calc(50% - 0.5rem);
    }
  }
  .contact-button {
    margin-top: 1rem;
    border-radius: 5rem;
    padding: 0.5rem 1.5rem;
    letter-spacing: 0.2em;
    font-size: 0.9rem;
    background: #e0590b;
    border: 1px solid #fff;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }