.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.search-container {
  position: relative;
  width: 100%;
  display: flex;
}

.search-container > input[type="text"] {
  box-shadow: 0 0 5px rgba(168, 144, 144, 0.637);
  background-color: white;
  border: none;
  color: rgba(0, 0, 0, 0.637);
  padding: 0.94vmax 1.6vmax;
  width: 100%;
  outline: none;
  border-radius: 0.4rem;
  font: 300 1.1vmax cursive;
  box-sizing: border-box;
}

.search-container > input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.637);
  height: 100%;
  border-radius: 0.4rem;
  background-color: tomato;
  border: none;
  padding: 1vmax 1.6vmax;
  width: 30%;
  font: 300 1.1vmax "Roboto";
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}

.search-container > input[type="submit"]:hover {
  background-color: rgb(39, 141, 61);
}
@media screen and (max-width: 600px) {
  .search-container > input[type="submit"] {
    width: 35%;
    padding: 0;
  }

  .search-container > input[type="text"] {
    width: 9.7rem;
    padding: 0.94vmax 0.6vmax;
  }
}