:root {
  --header-height: 80px;
  --primary-color: #192330;
  --secondary-color: #232f3e;
  --accent-color: hsla(39, 100%, 68%, 1);
  --text-color: #fff;
  --transition-speed: 0.3s;
}

.filter-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 2.2rem;
  border-radius: 8px;
  outline: none;
  max-height: 90vh;
  overflow-y: auto;
}

.filter-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-modal:hover {
  color: var(--accent-color);
}

.category-box {
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
  padding-left: 1rem;
}

.category-link {
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.category-link:hover {
  color: var(--accent-color);
}

.category-link.active {
  color: var(--accent-color);
  font-weight: bold;
}

.filter-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.apply-button,
.clear-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.apply-button {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.clear-button {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

.apply-button:hover,
.clear-button:hover {
  opacity: 0.8;
}

@media (max-width: 480px) {
  .filter-buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .apply-button,
  .clear-button {
    width: 100%;
  }
}

.custom-typography {
  padding: .5rem;
  margin-top: 1rem;
  border-radius: .3rem;
}

.custom-slider {
  margin-bottom: 1rem;
}