.product-section {
  /* background: #eee; */
  padding-top: 5rem;
}

.product-title {
  margin-bottom: 4rem;
  position: relative;
  display: flex;
  margin-top: 4rem;
  justify-content: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 30vh;
  padding: 3vmax 0;
}

.empty-product {
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
}

.pagination-box {
  display: flex;
  justify-content: center;
  margin: 4vmax;
  padding-bottom: 4vmax;
  /* background: #eee; */
  margin-bottom: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  background: #eee;
}

.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.5s;
  cursor: pointer;
}

.page-item:first-child {
  border-radius: 5px 0 0 5px;
}

.page-item:last-child {
  border-radius: 0 5px 5px 0;
}

.page-link {
  text-decoration: none;
  font: 300 0.7vmax "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background-color: rgb(106, 142, 208);
}

.page-item:hover .page-link {
  color: white;
}

.page-item-active {
  background-color: cornflowerblue;
}

.page-link-active {
  color: white;
}

@media screen and (max-width: 600px) {
  .products {
    padding-left: 0;
    margin-bottom: 5vmax;
  }

  .page-link {
    font: 300 1.7vmax "Roboto";
  }
}