.search-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 35, 48, 0.95);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  z-index: 1000;
}

.search-container {
  position: relative;
  display: flex;
  width: 80%;
  flex-direction: row;
  max-width: 600px;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 1rem 3rem 1rem 3rem;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-color);
  border: none;
  border-radius: 30px;
  outline: none;
  transition: all 0.3s ease;
}

.search-container input[type="text"]:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.searching {
  position: absolute;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--accent-color);
  font-size: 1.2rem;
}

.close-search {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.2rem;
  padding-right: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-search:hover {
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .search-container {
    width: 90%;
  }

  .search-container input[type="text"] {
    font-size: 1rem;
    /* padding: 0.8rem 2.5rem 0.8rem 2.5rem; */
  }
}