:root {

  /**
   * colors
   */

  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  /**
   * typography
   */

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /**
   * border-radius
   */

  --border-radius-md: 10px;
  --border-radius-sm: 5px;

  /**
   * transition
   */

  --transition-timing: 0.2s ease;

}




.header-main {
  padding: 32px 0;
  border-bottom: 1px solid hsl(0, 0%, 93%);
}
.header-logo {
  margin-bottom: 20px;
}
.header-logo img {
  margin: auto;
  display: flex;
  width: 15rem;
  height: 3.8rem;
}
.header-search-container .search-field {
  font-size: 0.875rem;
  color: hsl(0, 0%, 27%);
  padding: 10px 15px;
  padding-right: 50px;
  border: 1px solid hsl(0, 0%, 93%);
  border-radius: 5px;
}

.banner {
  border-radius: 1rem;
  padding: 0rem 1rem;
  background: #edeff457;
}
.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  overflow: auto hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}
.slider-item {
  position: relative;
  min-width: 100%;
  max-height: 450px;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  overflow: hidden;
  scroll-snap-align: start;
}
.slider-item .banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}
.banner-content {
  background: hsla(0, 0%, 100%, 0.8);
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  padding: 20px 25px;
  border-radius: 5px;
}
.banner-subtitle {
  color: hsl(353, 100%, 78%);
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.banner-title {
  color: hsl(0, 0%, 13%);
  font-size: 1.563rem;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
}
.banner-text {
  display: none;
}
button {
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  background: #395032;
  border: transparent;
  color: lightgoldenrodyellow;
}
.home-heading {
  text-align: center;
  font-family: "Roboto";
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgba(0, 0, 0, 0.7);
}
.container {
  display: flex;
  margin: 3vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: .7vmax;
  border-radius: .7rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  transition: all 0.5s;
  padding: 2vmax;
  padding-bottom: 0.5vmax;
}

.productCard > img {
  width: 14vmax;
  padding-bottom: 1rem;
}

.productCardSpan {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
}

.productCard > div > span {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
  font-size: 1.080vmax;
}

.productCard > p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  color: tomato;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
  .productCard {
      padding: 1vmax;
  }

  .productCard > p {
      font-size: 1.7vmax;
  }

  .productCard > div {
      margin: 0vmax;
      display: block;
  }

  .productCard > span {
      font-size: 1.5vmax;
  }

  .productCard > div > span {
      margin: 0 0.5vmax;
      font: 300 1vmax "Roboto";
  }
}

@media (min-width: 480px) {
  .slider-item { aspect-ratio: 5 / 3; }

  .banner-content {
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translateY(-50%);
    max-width: 320px;
  }

  .banner-subtitle { --fs-7: 1rem; }

  .banner-text {
    display: block;
    color: var(--sonic-silver);
    font-size: var(--fs-7);
    font-weight: var(--weight-500);
    margin-bottom: 10px;
  }

  .banner-text b { font-size: var(--fs-2); }
 }

 @media (min-width: 570px) {
  .slider-item { aspect-ratio: 4 / 2; }

  .banner-content { background: none; }
 }

 @media (min-width: 768px)  {

  .slider-item {
    aspect-ratio: auto;
    height: 350px;
  }

  .banner-content { max-width: 380px; }

  .banner-subtitle { --fs-7: 1.25rem; }

  .banner-text { --fs-7: 1.125rem; }

  .banner-text b { --fs-2: 1.875rem; }

  .banner-btn { --fs-11: 0.75rem; }

 }


@media (min-width: 1024px)  {

  .banner { margin-top: 0; }

  .slider-item { height: 380px; }

  .banner-content {
    left: 75px;
    max-width: 400px;
  }

  .banner-subtitle { --fs-7: 1.625rem; }

  .banner-text { --fs-7: 1.375rem; }

  .banner-btn { --fs-11: 0.875rem; }
}