:root {
  --spanish-gray: hsl(0, 0%, 60%);
  --sonic-silver: hsl(0, 0%, 47%);
  --eerie-black: hsl(0, 0%, 13%);
  --salmon-pink: hsl(353, 100%, 78%);
  --sandy-brown: hsl(29, 90%, 65%);
  --bittersweet: hsl(0, 100%, 70%);
  --ocean-green: hsl(152, 51%, 52%);
  --davys-gray: hsl(0, 0%, 33%);
  --cultured: hsl(0, 0%, 93%);
  --white: hsl(0, 100%, 100%);
  --onyx: hsl(0, 0%, 27%);

  /**
   * typography
   */

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.75rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --border-radius-md: 10px;
  --border-radius-sm: 5px;
  --transition-timing: 0.2s ease;
}

.header-main {
  background: #040818;
  padding: 32px 0;
  border-bottom: 1px solid hsl(0, 0%, 93%);
}

.header-logo {
  margin-bottom: 20px;
}

.header-search-container .search-field {
  font-size: 0.875rem;
  color: hsl(0, 0%, 27%);
  padding: 10px 15px;
  padding-right: 50px;
  border: 1px solid hsl(0, 0%, 93%);
  border-radius: 5px;
}

.banner {
  border-radius: 1rem;
  background: #edeff457;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: auto hidden;
  scroll-snap-type: inline mandatory;
  overscroll-behavior-inline: contain;
}

.slider-item {
  position: relative;
  min-width: 100%;
  max-height: 750px;
  overflow: hidden;
  scroll-snap-align: start;
}

.slider-item .banner-img {
  width: 100%;
  object-fit: cover;
  object-position: right;
}

.banner-content {
  background: hsl(0deg 9.85% 83.57% / 80%);
  box-shadow: 4px 4px 4px #b3a6a6;
  position: absolute;
  top: 30%;
  padding: 25px 30px 25px 40px;
  margin: 0 2rem;
  text-align: center;
  border-radius: 5px;
}

.banner-subtitle {
  color: hsl(353deg 56.13% 47.5%);
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.banner-title {
  color: hsl(53.13deg 51.54% 37.51%);
  font-size: 1.763rem;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px;
}

.shop-button {
  padding: 0.7rem 1.789rem;
  margin-top: .5rem;
  background: linear-gradient(90deg, hsl(0deg 89.18% 50.42%), #e0590b);
  border: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 30px;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.shop-button:hover {
  background: linear-gradient(90deg, hsl(0, 2%, 30%), hsl(0, 2%, 40%));
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.featured-product-section {
  background: #eee;
  padding: .4rem;
}

.home-heading {
  text-align: center;
  font-family: "Roboto";
  font-size: 1.4vmax;
  border-bottom: 3px solid rgba(255, 99, 71, .1);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 8px 0 rgba(237, 137, 76, 0.2), 0 6px 20px 0 rgba(185, 118, 56, 0)
}

.container {
  display: flex;
  margin: 3vmax auto;
  margin-bottom: 0;
  padding: 1.5vmax 0;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  background-color: #eee;
}

.product-card {
  width: 28vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgb(248, 245, 245);
  margin: 1vmax;
  border-radius: 0.7rem;
  background: cadetblue;
  transition: all 0.5s;
  overflow: hidden;
}

.image-wrapper {
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper img {
  width: 100%;
  height: 330px;
  object-fit: contain;
  padding-bottom: 1rem;
}

.product-description {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  font-family: "Droid Sans";
}

.product-brand {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.product-name {
  font-size: 1rem;
  color: hsl(0, 2%, 20%);
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0.4rem;
}

.product-info {
  margin-top: 0.4rem;
  margin-bottom: 0.179rem;
  font-size: 1.1vmax;
}

.product-rating {
  display: flex;
  align-items: center;
}

.product-cardSpan {
  margin: 0.5vmax;
  font: 300 1vmax "Roboto";
}

.product-card > div > span {
  margin: 0.5vmax;
}

.product-card > p {
  font-family: "Roboto";
  font-size: 2.2vmax;
  margin: 1vmax;
  margin-bottom: 0;
}

.product-card > span {
  color: tomato;
  font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
  font-size: 1vmax;
  margin: 0 1vmax;
}

.product-price {
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}

.cart-button {
  margin-top: 0.4vmax;
  margin-bottom: 0.6vmax;
  border: transparent;
  border-radius: 0.1rem;
  padding: 0.7rem 0;
  letter-spacing: 2px;
  font: 300 1.1rem "Roboto";
  background: rgb(15, 15, 15);
  color: white;
}

.cart-button:hover {
  background: #1b1b1b;
}

.product-card:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  transform: translateY(-1vmax);
}

@media screen and (max-width: 940px) {
  .product-card {
    width: 46vmax;
  }

  .product-card > img {
    height: 380px;
  }

  .product-card > p {
    font-size: 1.7vmax;
  }

  .product-card > span {
    font-size: 1.5vmax;
    margin: 0 1.2vmax;
  }

  .product-card > div > span {
    font-size: 1rem;
  }
  .product-info {
    font-size: 1.9vmax;
  }
}
@media screen and (max-width: 600px) {
  .product-card {
    width: 41vmax;
  }
  .slider-item {
    height: 60vh;
  }
  .slider-item .banner-img {
    height: 100%;
}
}

@media (min-width: 580px) {
  .slider-item {
    aspect-ratio: 8 / 3;
  }

  .banner-content {
    top: 50%;
    right: auto;
    background-color: transparent;
    bottom: auto;
    transform: translateY(-50%);
    max-width: 320px;
  }

  .banner-subtitle {
    --fs-7: 1rem;
  }

  .banner-text {
    display: block;
    color: hsl(0deg 23.15% 29.53%);
    font-size: var(--fs-7);
    font-weight: var(--weight-500);
    margin-bottom: 10px;
  }

  .banner-text b {
    font-size: var(--fs-2);
  }
}

@media (min-width: 570px) {
  .slider-item {
    aspect-ratio: 4 / 2;
  }

  .banner-content {
    background: none;
  }
}

@media (min-width: 768px) {
  .slider-item {
    aspect-ratio: auto;
  }

  .banner-content {
    max-width: 380px;
    box-shadow: none;
    text-align: left;
  }

  .banner-subtitle {
    --fs-7: 1.25rem;
  }

  .banner-text {
    --fs-7: 1.125rem;
  }

  .banner-text b {
    --fs-2: 1.875rem;
  }

  .banner-btn {
    --fs-11: 0.75rem;
  }
}

@media (min-width: 1024px) {

  .banner-content {
    left: 75px;
    max-width: 400px;
  }

  .banner-subtitle {
    --fs-7: 1.625rem;
  }

  .banner-text {
    --fs-7: 1.375rem;
  }

  .banner-btn {
    --fs-11: 0.875rem;
  }
}