.featured-product-section {
  background: #eee;
  padding: .4rem;
}

.home-heading {
  text-align: center;
  font-family: "Roboto";
  font-size: 1.4vmax;
  border-bottom: 3px solid rgba(255, 99, 71, .1);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 8px 0 rgba(237, 137, 76, 0.2), 0 6px 20px 0 rgba(185, 118, 56, 0)
}

.container {
  display: flex;
  margin: 3vmax auto;
  margin-bottom: 12vmax;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  background-color: #eee;
}

.product-card {
  width: 28vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border: 1px solid hsla(39,100%,68%,1);
  color: rgb(248, 245, 245);
  margin: 1vmax;
  border-radius: 0.7rem;
  background: whitesmoke;
  transition: all 0.5s;
  overflow: hidden;
}

.image-wrapper {
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper img {
  width: 100%;
  height: 330px;
  object-fit: contain;
  padding-bottom: 1rem;
}

.product-description {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  font-family: "Droid Sans";
}

.product-brand {
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.product-name {
  font-size: 1rem;
  color: hsl(0, 2%, 20%);
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0.4rem;
}

.product-info {
  margin-top: 0.4rem;
  margin-bottom: 0.179rem;
  font-size: 1.1vmax;
}

.product-rating {
  display: flex;
  align-items: center;
}

.product-cardSpan {
  margin: 0.5vmax;
  font: 300 1vmax "Roboto";
}

.product-card > div > span {
  margin: 0.5vmax;
}

.product-card > p {
  font-family: "Roboto";
  font-size: 2.2vmax;
  margin: 1vmax;
  margin-bottom: 0;
}

.product-card > span {
  color: tomato;
  font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
  font-size: 1vmax;
  margin: 0 1vmax;
}

.product-price {
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}

.cart-button {
  margin-top: 0.4vmax;
  margin-bottom: 0.6vmax;
  border: transparent;
  border-radius: 0.1rem;
  padding: 0.7rem 0;
  letter-spacing: 2px;
  font: 300 1.1rem "Roboto";
  background: rgb(15, 15, 15);
  color: white;
}

.cart-button:hover {
  background: #1b1b1b;
}

.product-card:hover {
  box-shadow: 0 0 5px rgba(247, 221, 47, 0.7);
  transform: translateY(-1vmax);
}

@media screen and (max-width: 940px) {
  .product-card {
    width: 46vmax;
  }

  .product-card > img {
    height: 380px;
  }

  .product-card > p {
    font-size: 1.7vmax;
  }

  .product-card > span {
    font-size: 1.5vmax;
    margin: 0 1.2vmax;
  }

  .product-card > div > span {
    font-size: 1rem;
  }
  .product-info {
    font-size: 1.9vmax;
  }
}