.LoginSignUpContainer {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 0%;
    left: 0;
}
.LoginSignUpBox {
    background-color: white;
    width: 25vw;
    height: 70vh;
    box-sizing: border-box;
    overflow: hidden;
}
.login-signup-toggle {
    display: flex;
    height: 3vmax;
}
.login-signup-toggle > p {
    color: rgba(0, 0, 0, .678);
    font: 300 1vmax "Roboto";
    transition: all .5s;
    cursor: pointer;
    display: grid;
    place-items: center;
    width: 100%;
}
.login-signup-toggle > p:hover {
    color: tomato;
}
.LoginSignUpBox > div > button {
    background-color: tomato;
    height: 3px;
    width: 50%;
    border: none;
    transition: all .5s;
}
.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all .5s;
}

.signup-form {
    transform: translateY(-100%) translateX(-100vmax);
}

.login-form > div,
.signup-form > div {
    display: flex;
    width: 100%;
    align-items: center;
}
.login-form > div > input,
.signup-form > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .267);
    border-radius: 4px;
    font: 300 .9vmax cursive;
    outline: none;
}
.login-form > div > svg,
.signup-form > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, .623);
}
.login-form > a {
    color: rgba(0, 0, 0, .651);
    text-decoration: none;
    align-self: flex-end;
    transition: all .5s;
    font: 500 .8vmax "Gill Sans";
}
.login-form > a:hover {
    color: black;
}

#register-image > img {
    width: 3vmax;
    border-radius: 100%;
}

#register-image > input {
    display: flex;
    padding: 0%;
}
#register-image > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    margin: 0%;
    font: 400 .8vmax cursive;
    transition: all .5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, .623);
    background-color: rgb(255, 255, 255);
}
#register-image > input::file-selector-button:hover {
    background-color: rgb(235, 235, 235);
}

.login-btn,
.signup-btn {
    border: none;
    background-color: tomato;
    color: white;
    font: 300 .9vmax "Roboto";
    width: 100%;
    padding: .8vmax;
    cursor: pointer;
    transition: all .5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .219);
}
.login-btn:hover,
.signup-btn:hover {
    background-color: rgb(179, 66, 46);
}
.shiftToLeft {
    transform: translateX(-100%);
}
.shiftToNeutral {
    transform: translateX(0%);
}
.shiftToNeutralForm {
    transform: translateX(0%) translateY(-100%);
}
.shiftToRight {
    transform: translateX(100%);
}

@media screen and (max-width: 600px) {
    .LoginSignUpContainer {
        background-color: white;
    }
    .LoginSignUpBox {
        width: 100vw;
        height: 95vh;
    }
    .login-signup-toggle {
        height: 5vmax;
    }
    .login-signup-toggle > p {
        font: 300 1.5vmax "Roboto";
    }
    .login-form,
    .signup-form {
        padding: 5vmax;
    }
    .login-form > div > input,
    .signup-form > div > input {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax cursive;
    }
    .login-form > div > svg,
    .signup-form > div > svg {
        font-size: 2.8vmax;
    }
    .login-form > a {
        font: 500 1.8vmax "Gill Sans";
    }
    #register-image > img {
        width: 8vmax;
        border-radius: 100%;
    }
    #register-image > input::file-selector-button {
       height: 7vh;
       font: 400 1.8vmax cursive;
    }
    .login-btn,
    .signup-btn {
        font: 300 1.9vmax "Roboto";
        padding: 1.8vmax;
    }
}
