.aboutSection {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-color: rgb(8, 8, 8);
    display: grid;
    grid-template-columns: 4fr 4fr;
    position: fixed;
  }

  .aboutSectionGradient {
    background-image: linear-gradient(
      to bottom right,
      rgb(78, 81, 255),
      rgb(74, 137, 189)
    );
  }

  .aboutSectionContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: rgb(255, 255, 255);
    width: 80vw;
    height: 80vh;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.192);
    text-align: center;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutSectionContainer > h1 {
    font: 400 3vmax "Roboto";
    color: tomato;
    margin: 1vmax;
  }
.h5 {
  color: tomato;
  font: 400 1vmax "Roboto";
  margin: .3vmax;
}
  .aboutSectionContainer > div {
    display: flex;
    width: 100%;
  }
  .about-info {
    display: flex;
    flex-direction: column;
  }
#iconLink {
  color: #000;
}
.btn-container {
  display: flex;
  justify-content: center;
}
.button {
  margin-top: 1rem;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
  background: #e0590b;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
  .aboutSectionContainer > div > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vmax;
    box-sizing: border-box;
  }

  .aboutSectionContainer > div > div > p {
    color: rgba(0, 0, 0, 0.623);
    font: 100 1vmax "Roboto";
  }

  .aboutSectionContainer > div > div > button {
    margin: 1vmax 0;
  }

  .aboutSectionContainer > div > div > span {
    font: 100 1vmax "Roboto";
    color: rgba(0, 0, 0, 0.616);
    text-align: center;
    width: 80%;
  }

  .aboutSectionContainer2 {
    border-left: 1px solid rgba(0, 0, 0, 0.116);
  }

  .aboutSectionContainer2 > h2 {
    color: rgba(0, 0, 0, 0.623);
    font: 100 2vmax "Roboto";
    margin: 2vmax;
  }

  .aboutSectionContainer2 > a > svg {
    font-size: 4vmax;
  }

  .youtubeSvgIcon {
    color: tomato;
  }

  .instagramSvgIcon {
    color: rgb(144, 81, 202);
  }

  .about-content {
    font: 100 1vmax "Roboto";
    margin: 1vmax;
  }

  @media screen and (max-width: 600px) {
    .about-content {
      font: 100 2vmax "Roboto";
    }
  }


  @media screen and (max-width: 600px) {
    .aboutSectionContainer > div {
      display: block;
    }

    .aboutSectionContainer > h1 {
      font: 400 5vmax "Roboto";
    }

    .aboutSectionContainer > div > div > p {
      font: 100 2vmax "Roboto";
    }

    .aboutSectionContainer > div > div > span {
      font: 100 1.4vmax "Roboto";
      width: 70%;
    }

    .aboutSectionContainer2 {
      border-left: none;
    }

    .aboutSectionContainer2 > h2 {
      font: 100 3vmax "Roboto";
      margin: 2vmax;
    }
    .aboutSectionContainer2 > a > svg {
      font-size: 6vmax;
      margin: 1vmax;
    }
  }