.about-section {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: rgb(8, 8, 8);
  display: grid;
  grid-template-columns: 4fr 4fr;
  position: sticky;
}

.about-section-gradient {
  background-image: linear-gradient(
    to bottom right,
    rgb(78, 81, 255),
    rgb(74, 137, 189)
  );
}

.about-section-container {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgb(255, 255, 255);
  width: 70vw;
  height: 80vh;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.192);
  text-align: center;
  padding: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section-container > h1 {
  font: 400 3vmax "Roboto";
  color: #e0590b;
  margin: 1vmax;
}

.name {
  font: 600 2.5vmax "Roboto";
  color: #e0590b;
  margin: 1vmax;
}

.about-content {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.follow-me {
  font: 600 2vmax "Roboto";
  color: rgb(19, 18, 18);
  padding-top: 1rem;
}

.about-section-container > div {
  display: flex;
  width: 100%;
}

.about-info {
  display: flex;
  flex-direction: column;
}

#iconLink {
  color: #000;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 1rem;
  border-radius: 5rem;
  padding: 0.5rem 1.5rem;
  letter-spacing: 0.2em;
  font-size: 0.9rem;
  background: #e0590b;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.about-section-container > div > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vmax;
  box-sizing: border-box;
}

.about-section-container > div > div > p {
  color: rgba(0, 0, 0, 0.623);
  font: 100 1vmax "Roboto";
}

.about-section-container > div > div > button {
  margin: 1vmax 0;
}

.about-section-container > div > div > span {
  font: 100 1vmax "Roboto";
  color: rgba(0, 0, 0, 0.616);
  text-align: center;
  width: 80%;
}

.about-section-container2 {
  border-left: 1px solid rgba(0, 0, 0, 0.116);
}

.about-section-container2 > h2 {
  color: rgba(0, 0, 0, 0.623);
  font: 100 2vmax "Roboto";
  margin: 2vmax;
}

.about-section-container2 > a > svg {
  font-size: 4vmax;
}

.youtubeSvgIcon {
  color: tomato;
}

.instagramSvgIcon {
  color: rgb(144, 81, 202);
}

.about-section-container > div > div > p {
  font: 100 1vmax "Roboto";
  margin: 1vmax;
}

@media screen and (max-width: 600px) {
  .about-section-container > div > div > p {
    font: 100 2vmax "Roboto";
  }

  .about-section-container > div {
    display: block;
  }

  .about-section-container > h1 {
    font: 400 5vmax "Roboto";
  }

  .about-section-container > div > div > p {
    font: 100 2vmax "Roboto";
  }

  .about-section-container > div > div > span {
    font: 100 1.4vmax "Roboto";
    width: 70%;
  }

  .about-section-container2 {
    border-left: none;
  }

  .about-section-container2 > h2 {
    font: 100 3vmax "Roboto";
    margin: 2vmax;
    color: #e0590b;
  }
  
  .about-section-container2 > a > svg {
    font-size: 6vmax;
    margin: 1vmax;
  }
}
